<!--This module is licenced under the BSD license.

Copyright (C) 2011 by raw engineering <ninad.hatkar (at) raweng (dot) com, mayank (at) raweng (dot) com>.

All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions
are met:

    * Redistributions of source code must retain the above copyright
    notice, this list of conditions and the following disclaimer.

    * Redistributions in binary form must reproduce the above copyright
    notice, this list of conditions and the following disclaimer in the
    documentation and/or other materials provided with the distribution.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
"AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED
TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.-->


<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://www.jivesoftware.com/schemas/clearspace/1_1/plugin.xsd">
    <name>utilities</name>
    <description>Publish Expired Document or Expire publish document, Clear Document Cache, Change document Expiration Months, Rename Tag</description>
    <author>Raw Eng</author>
    <version>1.0.0</version>
    <minServerVersion>2.0</minServerVersion>
    <class>com.raweng.UtilitiesPlugin</class> 

    <components>
        <component id="admin-console">
            <tab id="tab-utilities" name="Utilities" url="clear-caches.jspa"
             description="Additional utilities">
                <section id="section-utilities" name="Settings">
                    <item id="clear-caches" url="clear-caches.jspa" name="Clear Document Caches"
        	        description="clear caches of document" />
                    <item id="update-doc-expiry" url="update-doc-expiry.jspa" name="Change Document Expiration Date"
        	        description="Update Document expiration" />
                    <item id="change-doc-state" url="change-doc-state.jspa" name="Change Document State"
        	        description="Change Document State" />
                    <item id="change-doc-author" url="change-doc-author.jspa" name="Change Document Author"
        	        description="Change author of document" />
                    <item id="rename-tag" url="rename-tag.jspa" name="Rename Tag"
        	        description="Rename Tag" />
                </section>
             </tab>            

        </component>
        
     </components>
</plugin>